*{
    padding: 0px   ;
    margin: 0px;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 90vh;
    background: #222224;
    display: flex;
    align-items: center;
    justify-content: center;
}
#logo{
    position: absolute;
    top: 50%;
    left: 50%;
transform: translate(-50%,-50%);
animation: fillcolor 2s ease 5.3s;

}


#logo path:nth-child(1){
    stroke-dasharray: 550.367;
    stroke-dashoffset:550.367 ;
    animation: effect 1s ease forwards 0.3s;


}
#logo path:nth-child(2){
    stroke-dasharray: 478.7504577;
    stroke-dashoffset: 478.7504577;
    animation: effect 1s ease forwards 0.6s;
}

#logo path:nth-child(3){
    stroke-dasharray: 538.7799072265625;
    stroke-dashoffset:538.7799072265625;
    animation: effect 1s ease forwards 0.9s;
}
#logo path:nth-child(4){
    stroke-dasharray: 538.7821044921875;
    stroke-dashoffset:538.7821044921875 ;
    animation: effect 1s ease forwards 1.2s; 
}
#logo path:nth-child(5){
    stroke-dasharray: 420.1318359375;
    stroke-dashoffset:420.1318359375 ;
    animation: effect 1s ease forwards 1.5s;
}
#logo path:nth-child(6){
    stroke-dasharray: 610.5654296875 ;
    stroke-dashoffset:610.5654296875  ;
    animation: effect 1s ease forwards 1.8s;
}
#logo path:nth-child(7){
    stroke-dasharray: 494.7875061035156;
    stroke-dashoffset:494.7875061035156 ;
    animation: effect 1s ease forwards 2.1s;
}
#logo path:nth-child(8){
    stroke-dasharray: 631.19482421875 ;
    stroke-dashoffset:631.19482421875  ;
    animation: effect 1s ease forwards 2.4s;
}
#logo path:nth-child(9){
    stroke-dasharray: 390.6614990234375 ;
    stroke-dashoffset:390.6614990234375  ;
    animation: effect 1s ease forwards 2.7s;
}
#logo path:nth-child(10){
    stroke-dasharray: 494.7879333496094;
    stroke-dashoffset:494.7879333496094;
    animation: effect 1s ease forwards 3s;
}
#logo path:nth-child(11){
    stroke-dasharray: 478.7418518066406;
    stroke-dashoffset: 478.7418518066406;
    animation: effect 1s ease forwards 3.3s;
}
#logo path:nth-child(12){
    stroke-dasharray: 244.72483825683594;
    stroke-dashoffset:244.72483825683594;
    animation: effect 1s ease forwards 3.6s;
}
#logo path:nth-child(13){
    stroke-dasharray: 838.89208984375;
    stroke-dashoffset:838.89208984375;
    animation: effect 2s ease forwards 3.9s;
}
#logo path:nth-child(14){
    stroke-dasharray: 829.44677734375 ;
    stroke-dashoffset:829.44677734375 ;
    animation: effect 2s ease forwards 4.2s;
}
#logo path:nth-child(15){
    stroke-dasharray: 838.892333984375;
    stroke-dashoffset:838.892333984375;
    animation: effect 2s ease forwards 4.5s; 
}
#logo path:nth-child(16){
    stroke-dasharray: 829.4495849609375;
    stroke-dashoffset:829.4495849609375;
    animation: effect 2s ease forwards 4.8s;
}


@keyframes effect{
    to{
        stroke-dashoffset: 0;
    }
}
@keyframes fillcolor{
    from{
        fill: transparent;
    }
    to{
        fill: #FAD206;
    }
}

@media screen and (max-width: 1024px){
    #logo{
        width: 500;
        height: 225;
    }
}